---
import BaseLayout from "../layouts/BaseLayout.astro";
import Search from "../components/Search.astro";
import About from "../components/About.astro";
import Hotels from "../components/Hotels.astro";
import Flights from "../components/Flights.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Search />
  <div class="blue-line"></div>
  <About />
  <Flights />
  <Hotels />
  <Footer />
</BaseLayout>
