---

---

<section class="section3" id="Flights">
  <h2 class="section3-title">Vuelos</h2>
  <hr class="section2-tittle-line" />
  <h3 class="section3-subtitle">
    Encuentra y compara los vuelos más económicos para tu viaje
  </h3>
  <div class="section3-grid">
    <!--Location 1-->
    <a
      class="card-link"
      href="https://www.google.com/search?q=vuelos+a+c%C3%B3rdoba"
      target="_blank"
    >
      <div class="section3-card">
        <div class="card-score">
          <i class="score-icon"></i>
          <span class="score-text">4.8</span>
        </div>
        <img class="card-image" src="images/section3_cordoba.jpg" alt="Mezquita-Catedral de Córdoba"/>
        <div class="card-info">
          <h4 class="info-title">Córdoba</h4>
          <div class="info-location">
            <i class="location-icon"></i>
            <span class="location-text">Mezquita-Catedral de Córdoba</span>
          </div>
        </div>
      </div>
    </a>
    <!--Location 2-->
    <a
      class="card-link"
      href="https://www.google.com/search?q=vuelos+a+sevilla"
      target="_blank"
    >
      <div class="section3-card">
        <div class="card-score">
          <i class="score-icon"></i>
          <span class="score-text">4.7</span>
        </div>
        <img class="card-image" src="images/section3_sevilla.jpg" alt="La Giralda" />
        <div class="card-info">
          <h4 class="info-title">Sevilla</h4>
          <div class="info-location">
            <i class="location-icon"></i>
            <span class="location-text">La Giralda</span>
          </div>
        </div>
      </div>
    </a>
    <!--Location 3-->
    <a
      class="card-link"
      href="https://www.google.com/search?q=vuelos+a+tenerife"
      target="_blank"
    >
      <div class="section3-card">
        <div class="card-score">
          <i class="score-icon"></i>
          <span class="score-text">4.8</span>
        </div>
        <img class="card-image" src="images/section3_tenerife.jpg" alt="Pico del Teide" />
        <div class="card-info">
          <h4 class="info-title">Tenerife</h4>
          <div class="info-location">
            <i class="location-icon"></i>
            <span class="location-text">Pico del Teide</span>
          </div>
        </div>
      </div>
    </a>
    <!--Location 4-->
    <a
      class="card-link"
      href="https://www.google.com/search?q=vuelos+a+barcelona"
      target="_blank"
    >
      <div class="section3-card">
        <div class="card-score">
          <i class="score-icon"></i>
          <span class="score-text">4.7</span>
        </div>
        <img class="card-image" src="images/section3_barcelona.jpg" alt="Basílica de la Sagrada Familia" />
        <div class="card-info">
          <h4 class="info-title">Barcelona</h4>
          <div class="info-location">
            <i class="location-icon"></i>
            <span class="location-text">Basílica de la Sagrada Familia</span>
          </div>
        </div>
      </div>
    </a>
    <!--Location 5-->
    <a
      class="card-link"
      href="https://www.google.com/search?q=vuelos+a+las+palmas+de+gran+canaria"
      target="_blank"
    >
      <div class="section3-card">
        <div class="card-score">
          <i class="score-icon"></i>
          <span class="score-text">4.7</span>
        </div>
        <img class="card-image" src="images/section3_palma.jpg" alt="Playa de las Canteras" />
        <div class="card-info">
          <h4 class="info-title">Las Palmas de Gran Canaria</h4>
          <div class="info-location">
            <i class="location-icon"></i>
            <span class="location-text">Playa de las Canteras</span>
          </div>
        </div>
      </div>
    </a>
    <!--Location 6-->
    <a
      class="card-link"
      href="https://www.google.com/search?q=vuelos+a+madrid"
      target="_blank"
    >
      <div class="section3-card">
        <div class="card-score">
          <i class="score-icon"></i>
          <span class="score-text">4.6</span>
        </div>
        <img class="card-image" src="images/section3_madrid.jpg" alt="Puerta de Alcalá" />
        <div class="card-info">
          <h4 class="info-title">Madrid</h4>
          <div class="info-location">
            <i class="location-icon"></i>
            <span class="location-text">Puerta de Alcalá</span>
          </div>
        </div>
      </div>
    </a>
    <!--Location 7-->
    <a
      class="card-link"
      href="https://www.google.com/search?q=vuelos+a+santiago+de+compostela"
      target="_blank"
    >
      <div class="section3-card">
        <div class="card-score">
          <i class="score-icon"></i>
          <span class="score-text">4.7</span>
        </div>
        <img class="card-image" src="images/section3_santiago.jpg" alt="Catedral de Santiago de Compostela" />
        <div class="card-info">
          <h4 class="info-title">Santiago de Compostela</h4>
          <div class="info-location">
            <i class="location-icon"></i>
            <span class="location-text">Catedral de Santiago de Compostela</span>
          </div>
        </div>
      </div>
    </a>
    <!--Location 8-->
    <a
      class="card-link"
      href="https://www.google.com/search?q=vuelos+a+valencia"
      target="_blank"
    >
      <div class="section3-card">
        <div class="card-score">
          <i class="score-icon"></i>
          <span class="score-text">4.7</span>
        </div>
        <img class="card-image" src="images/section3_valencia.jpg" alt="Ciudad de las Artes y las Ciencias" />
        <div class="card-info">
          <h4 class="info-title">Valencia</h4>
          <div class="info-location">
            <i class="location-icon"></i>
            <span class="location-text">Ciudad de las Artes y las Ciencias</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
