---

---

<footer class="footer">
  <div class="footer-icon">
    <a
      class="icon-twitter"
      href="https://twitter.com/DuckTrip_EOI"
      target="_blank"></a>
    <a
      class="icon-github"
      href="hhttps://github.com/davidgm26/landing-ducktrip"
      target="_blank"></a>
    <a class="icon-gmail" href="mailto:ducktripeoi@gmail.com" target="_blank"
    ></a>
    <a
      class="icon-instagram"
      href="https://www.instagram.com/ducktripoficial/"
      target="_blank"></a>
  </div>
  <div class="footer-text">Desarrollado por Dapper Drake</div>
</footer>
