---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
---
<div class="blue-line">Próximamente...</div>
<section class="section5" id="Hotels">
  <h2 class="section5-title">Hoteles</h2>
  <hr class="section2-tittle-line" />
  <div class="main-container-image">
    <h1 class="section5-container-title">Encuentra tu hotel perfecto</h1>
    <div class="info-main-container">
      <p class="section5-container-subtitle">
        Sumérgete en una selección excepcional de hoteles de primera categoría.
      </p>
      <p class="section5-container-subtitle">
        ¡Comienza tu búqueda ahora y descubre lo que estos hoteles tienen para
        ofrecer!
      </p>
    </div>
  </div>
  <!-- Flickity HTML init -->
  <div class="swiper swiper-container">
    <div class="swiper-wrapper">
      <!--Location 1-->
      <div class="swiper-slide">
        <div class="card-score5">
          <i class="score-icon5"></i>
          <span class="score-text5">4.8</span>
        </div>
        <img class="card-image" src="images/section5_eurostars_madrid.jpg" alt="EuroStars en Madrid" />
        <div class="card-info5">
          <h4 class="info-title5">Madrid</h4>
          <div class="info-location5">
            <i class="location-icon5"></i>
            <span class="location-text5">EuroStars</span>
          </div>
        </div>
      </div>
      <!--Location 2-->
      <div class="swiper-slide">
        <div class="card-score5">
          <i class="score-icon5"></i>
          <span class="score-text5">4.7</span>
        </div>
        <img class="card-image" src="images/section5_hong.jpg" alt="Rossewood en Hong-Kong" />
        <div class="card-info5">
          <h4 class="info-title5">Hong-Kong</h4>
          <div class="info-location5">
            <i class="location-icon5"></i>
            <span class="location-text5">Rossewood</span>
          </div>
        </div>
      </div>
      <!--Location 3-->
      <div class="swiper-slide section5-card">
        <div class="card-score5">
          <i class="score-icon5"></i>
          <span class="score-text5">4.8</span>
        </div>
        <img class="card-image" src="images/section5_four_seasons_madrid.jpg" alt="Four Seasons en Madrid" />
        <div class="card-info5">
          <h4 class="info-title5">Madrid</h4>
          <div class="info-location5">
            <i class="location-icon5"></i>
            <span class="location-text5">Four Seasons</span>
          </div>
        </div>
      </div>
      <!--Location 4-->
      <div class="swiper-slide section5-card">
        <div class="card-score5">
          <i class="score-icon5"></i>
          <span class="score-text5">4.7</span>
        </div>
        <img class="card-image" src="images/section5_montreux_suiza.jpg" alt="Montreux en Suiza" />
        <div class="card-info5">
          <h4 class="info-title5">Suiza</h4>
          <div class="info-location5">
            <i class="location-icon5"></i>
            <span class="location-text5">Montreux</span>
          </div>
        </div>
      </div>
      <!--Location 5-->
      <div class="swiper-slide section5-card">
        <div class="card-score5">
          <i class="score-icon5"></i>
          <span class="score-text5">4.7</span>
        </div>
        <img class="card-image" src="images/section5_negresco_francia.jpg" alt="Negresco en Francia" />
        <div class="card-info5">
          <h4 class="info-title5">Francia</h4>
          <div class="info-location5">
            <i class="location-icon5"></i>
            <span class="location-text5">Negresco</span>
          </div>
        </div>
      </div>
      <!--Location 6-->
      <div class="swiper-slide section5-card">
        <div class="card-score5">
          <i class="score-icon5"></i>
          <span class="score-text5">4.7</span>
        </div>
        <img class="card-image" src="images/section5_rambagh_india.jpg" alt="Rambagh en India"/>
        <div class="card-info5">
          <h4 class="info-title5">India</h4>
          <div class="info-location5">
            <i class="location-icon5"></i>
            <span class="location-text5">Rambagh</span>
          </div>
        </div>
      </div>
      <!--Location 7-->
      <div class="swiper-slide section5-card">
        <div class="card-score5">
          <i class="score-icon5"></i>
          <span class="score-text5">4.7</span>
        </div>
        <img class="card-image" src="images/section5_w_barcelona.jpg" alt="BW Barcelona"/>
        <div class="card-info5">
          <h4 class="info-title5">Barcelona</h4>
          <div class="info-location5">
            <i class="location-icon5"></i>
            <span class="location-text5">BW Barcelona</span>
          </div>
        </div>
      </div>
      <!--Location 8-->
      <div class="swiper-slide section5-card">
        <div class="card-score5">
          <i class="score-icon5"></i>
          <span class="score-text5">4.7</span>
        </div>
        <img class="card-image" src="images/section5_bahia.jpg" alt="Bahía del Duque en Tenerife" />
        <div class="card-info5">
          <h4 class="info-title5">Tenerife</h4>
          <div class="info-location5">
            <i class="location-icon5"></i>
            <span class="location-text5">Bahía del Duque</span>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>

<script type="module">
  // @ts-ignore
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.mjs";
  // @ts-ignore
  import Navigation from "https://cdn.jsdelivr.net/npm/swiper@10.3.1/modules/navigation.mjs";
  // @ts-ignore
  import Pagination from "https://cdn.jsdelivr.net/npm/swiper@10.3.1/modules/pagination.mjs";
  const mySwiper = new Swiper(".swiper", {
    modules: [Navigation, Pagination],
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
    },
  slidesPerView: 1,
  spaceBetween: 10,
  breakpoints: {
    480: {
      slidesPerView: 2,
      spaceBetween: 20
    },
    640: {
      slidesPerView: 4,
      spaceBetween: 20
    }
  },
    initialSlide: 0,
    direction: "horizontal",
    loop: true,
    effect: "slide",
    grabCursor: true,
  });
</script>
