---

---

<section>
  <div class="section1-container">
    <nav class="nav">
      <img class="logo" src="icons/log.png" alt="Logotipo DuckTrip" />
      <div class="nav-line"></div>
      <div class="nav-buttons">
        <a href="#About">About</a>
        <a href="#Flights">Vuelos</a>
        <a href="#Hotels">Próximamente</a>
      </div>
    </nav>
    <h1 class="wellcome-text">Encuentra tu destino</h1>
    <div class="link-to-app-container">
      <div class="link-to-app">
        <h2 class="link-to-app-title">LOS MEJORES OPCIONES PARA VIAJAR</h2>
        <p class="link-to-app-text">
          ¿Estás planificando tu próximo viaje? Te ofrecemos los mejores vuelos
        </p>
        <a class="link-to-app-link" href="https://app.ducktrip.today/">ACCEDE A NUESTRA PÁGINA</a>
      </div>
    </div>
  </div>
</section>

<script>
</script>
